.servico1{
	margin-top: 50px;
	margin-bottom: 50px;
}
@media only screen and (max-width: 500px) {
  .servico1 {
	margin-top: 15px;
	}
}
.servico1 h4{
	margin-top: 35px;
}
.servico1 img{
	border-radius: 31px;
}
.servico1 a{
	margin-top: 45px;
}
@media only screen and (max-width: 500px) {
  .servico1 img {
	height: 300px;
    width: 100%;
	}
}
hr.faixa{
	border:2px solid #1E90FF;
	border-radius: 3px;
	width: 260px;
}
hr.faixaBranca{
	border:2px solid #FFFFFF; 
	border-radius: 3px; 
	width: 260px;
}
.servico1Background{
	background-color: #F7F7F7;
}
@media only screen and (max-width: 500px) {
  .servico1Background h2 {
	margin-top: 25px;
	}
}

.servico2 h5{
	margin-top: 10px;
}
.servico2 p{
	margin-top: 18px;
}
.servico2 hr{
	margin-bottom: 65px;
}
.servico2 {
	margin-top: 80px;
}

.bihome{
	background-image: url(../img/darkBI.jpeg);
	color: #FFFFFF;
	height: 535px;
	opacity: 2.0;
	background-repeat: no-repeat;
	background-attachment: fixed;
	background-size: cover;
}
@media only screen and (max-width: 500px) {
	.bihome {
		height: 720px;
	}
}
.bihome h1{
	padding-top: 35px;
}
.bihome iframe{
	margin-top: 45px;
}
@media only screen and (max-width: 500px) {
	.bihome iframe {
		height: 150px;
    	width: 330px;
	}
}
@media only screen and (max-width: 360px) {
	.bihome {
		height: 800px;
	}
}
.clienteshome{
	margin-top: 20px;
	padding-top: 200px;
	color: #000000;
}
.dashboard{
	padding-top: 40px;
}
.dashboard p{
	margin-top: 10px;
	margin-left: 85px;
}
.precoDashboard{
	margin-top: 35px;
	border: 2px solid #FFFFFF;
	padding: 20px;
}
@media only screen and (max-width: 500px) {
	.dashboard p {
		margin-top: 10px;
		margin-left: 35px;
	}
}
.img-clientes{
	width: 85%;
	height: auto;
}

.contato-footer{
	margin-top: 45px;
	color: #FFFFFF;
	background: #000000;
	
}
.contato-footer h2{
	padding-top: 25px;

}

.rodape{
	background: #000000;
	color: #FFFFFF;
	font-size: 10px;
}

.linha{
	color: #FFFFFF;
    background-color: #FFFFFF;
    height: 0.5px;
}

.tituloPagina{
	background-color: rgb(23, 60, 84);
	box-sizing: border-box;
	color: #FFFFFF;
	font-family: sans-serif;
	font-size: 15px;
	line-height: 25px;
	overflow: hidden;
	overflow-x: hidden;
	overflow-y: hidden;
	width: 1287px;
	height: 120px;
	top: 10px;
}
.tituloPagina ul{
	list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
}
@media only screen and (max-width: 500px) {
  .tituloPagina {
	height: auto;
    width: auto;
	}
}
.tituloPagina li{
	float: right;
	text-align: center;
    padding: 16px;
    padding-top: 46px;
}
.tituloPagina h1{
	padding-top: 35px;
}
.sobreSophos{
	margin-top: 70px;
}
.sobreSophos p{
	padding-bottom: 25px;
	margin-top: 25px;
}

.dropdown:hover>.dropdown-menu{
	display: block;
}
.imgService{
	background-image: url(../img/paginasBack.jpg);
	max-width: 100%;
	height: auto;
	background-repeat: no-repeat;
}
@media only screen and (max-width: 500px) {
  .imgService {
	height: auto;
    width: auto;
	}
}
.imgService img{
	height: 380px;
	width: 460px;
	margin-top: 30px;
}
@media only screen and (max-width: 500px) {
  .imgService img {
	height: 225px;
    width: 250px;
	}
}
.serviceSolucao{
	margin-top: 75px;
}
.imgService1{
	background-image: url(../img/service.jpg);
	width: 1287px;
	height: 450px;
	margin-top: 65px;
	background-repeat: no-repeat;
}
@media only screen and (max-width: 500px) {
  .imgService1 {
	height: auto;
    width: auto;
	}
}
.imgService1 iframe{
	margin-top: 35px;
	width: 560px;
	height: 315px;
}
@media only screen and (max-width: 500px) {
  .imgService1 iframe {
	margin-top: 60px;
	margin-left: 18px;
	height: 150px;
    width: 330px;
	}
}
.serviceSolucao1{
	margin-top: 65px;
}
.headerService{
	margin-bottom: 35px;
}
.headerService1{
	margin-top: 35px;
}
.serviceSolucao2{
	margin-top: 65px;
	margin-bottom: 45px;
}
.marketSolucao{
	margin-top: 65px;
}
.imgMarket{
	background-image: url(../img/supermercado.jpg);
	width: 1287px;
	height: 450px;
	margin-top: 65px;
}
@media only screen and (max-width: 500px) {
  .imgMarket {
	height: 350px;
    width: 430px;
	}
}
.imgMarket iframe{
	margin-top: 65px;
	width: 560px;
	height: 315px;
}
@media only screen and (max-width: 500px) {
  .imgMarket iframe {
	margin-top: 60px;
	height: 150px;
    width: 330px;
	}
}

.imgVarejo{
	background-image: url(../img/store.jpg);
	width: 1287px;
	height: 450px;
	margin-top: 65px;
}
@media only screen and (max-width: 500px) {
  .imgVarejo {
	height: 350px;
    width: 430px;
	}
}
.imgVarejo iframe{
	margin-top: 65px;
	width: 560px;
	height: 315px;
}
@media only screen and (max-width: 500px) {
  .imgVarejo iframe {
	margin-top: 80px;
	height: 150px;
    width: 330px;
	}
}
.imgGourmet{
	background-image: url(../img/gourmet.jpg);
	width: 1287px;
	height: 450px;
	margin-top: 65px;
	background-repeat: no-repeat;
}
@media only screen and (max-width: 500px) {
  .imgGourmet {
	height: 350px;
    width: 430px;
	}
}
.imgGourmet iframe{
	margin-top: 65px;
	width: 560px;
	height: 315px;
}
@media only screen and (max-width: 500px) {
  .imgGourmet iframe {
	margin-top: 85px;
	height: 150px;
    width: 330px;
	}
}
.imgUniplus{
	background-image: url(../img/uniplus.jpg);
	width: 1287px;
	height: 450px;
	margin-top: 65px;
}
@media only screen and (max-width: 500px) {
  .imgUniplus {
	height: 350px;
    width: 430px;
	}
}
.imgUniplus iframe{
	margin-top: 65px;
	width: 560px;
	height: 315px;
}
@media only screen and (max-width: 500px) {
  .imgUniplus iframe {
	margin-top: 85px;
	height: 150px;
    width: 330px;
	}
}
.contato{
	margin-top: 80px;
}
.contato button{
	width: 250px;
	margin-left: 25%;
	margin-bottom: 35px;
}
.contatoCard {
	padding-bottom: 15px;
}
.contatoCard h5{
	padding-top: 15px;
}
.mapa iframe{
	margin-top: 60px;
}
.btnDisney{
	color: #FFF;
	background-color: #f0ad4e;
}
.clientesComentario{
	margin-top: 60px;
}
.clientesDizem{
	margin-top: 60px;
	margin-bottom: 60px;
}
.botaoDashboard{
	margin-top: 25px;
}
.dashboardTexto{
	margin-top: 40px;
}
.dashboardImagem{
	margin-top: 40px;
}
/*.sliderHome a{
	float: left;
	margin-bottom: 55px;
	border-radius: 15px;
	padding-left: 50px;
	padding-right: 50px;

}*/
@media only screen and (max-width: 500px) {
  .sliderHome img {
	height: 200px;
    width: 430px;
	}
}
.card a {
	margin-top: 35px;
}
@media only screen and (max-width: 500px) {
  .card {
  	margin: auto;
  	margin-bottom: 15px;
	}
}

@media only screen and (max-width: 500px) {
  .rounded-circle {
  	margin-left: 35%;
 	margin-bottom: 20px;
	}
}
.servico3{
	padding-top: 60px;
	background-color: #F7F7F7;
	padding-bottom: 30px;
}
@media only screen and (max-width: 500px) {
  .servico3 img {
  		margin-bottom: 20px;
	}
}
.contato label{
	padding-top: 20px; 
}
.solucoes h2{
	padding-top: 40px;
}
.bandeirasTef{
	padding-top: 55px;
}
.vantagemTef{
	padding-top: 55px;
}
.botaoTef{
	padding-top: 55px;
}
.serviceSolucaoTef{
	margin-top: 75px;
}
.serviceSolucaoTef h3{
	margin-top: 55px;
	margin-bottom: 55px;
}
.imgTef{
	background-image: url(../img/tef/Technology-wallpaper4.jpg);
	width: 1287px;
	height: 510px;
	margin-top: 65px;
	background-repeat: no-repeat;
	color: #FFFFFF;
}
@media only screen and (max-width: 500px) {
	.imgTef {
		width: auto;
		height: 600px;
	}
}

.imgTef h4{
	margin-top: 80px;
}
.imgTef h2{
	margin-top: 25px;
}
.imgTef iframe{
	margin-top: 45px;
}
@media only screen and (max-width: 500px) {
	.imgTef iframe {
		margin-top: 30px;
		height: 150px;
    	width: 330px;
	}
}
@media only screen and (max-width: 500px) {
	.imgTef h4 {
		margin-top: 10px;
	}
}
.imgServiceTef{
	background-image: url(../img/paginasBack.jpg);
	width: 1287px;
	height: 450px;
	background-repeat: no-repeat;
}
@media only screen and (max-width: 500px) {
  .imgServiceTef {
	height: auto;
    width: auto;
	}
}
.imgServiceTefImg{
	height: 280px;
	width: 360px;
}
.imgServiceTefImg img{
	margin-top: 100px;
	margin-left: 500px;
}
@media only screen and (max-width: 500px) {
  .imgServiceTefImg img {
	height: 150px;
	width: 250px;
	margin-left: 65px;
	}
}
.imgServiceMixImg img{
	margin-top: 170px;
	margin-left: 40%;
	width: 25%;
}
@media only screen and (max-width: 500px) {
  .imgServiceMixImg img {
  		margin-bottom: 25%;
	}
}
.imgMixFiscal{
	background-image: url(../img/mixfiscal/mixfiscal.jpg);
	background-size: 100% 100%;
	width: 12-87px;
	height: 450px;
	background-repeat: no-repeat;
	margin-top: 25px;
}
@media only screen and (max-width: 500px) {
  .imgMixFiscal {
  		width: auto;
  		height: 700px;
	}
}
.imgMixFiscal h2{
	margin-top: 25px;
}
.imgMixFiscal h4{
	margin-top: 50px;
}
.serviceSolucaoMix p{
	margin-top: 25px;
}
.imgMixFiscal iframe{
	margin-top: 20px;
}
@media only screen and (max-width: 500px) {
	.imgMixFiscal iframe {
		margin-top: 30px;
		height: 150px;
    	width: 330px;
	}
}
.serviceSolucaoMix1 h3{
	margin-bottom: 25px;
	margin-top: 25px;
}