.servico1{
	margin-top: 60px;
	margin-bottom: 60px;
}
.servico1Background{
	background-color: #F7F7F7;
	margin-bottom: 60px;
}
.servico2 h5{
	margin-top: 10px;
}
.servico2 p{
	margin-top: 18px;
}

.bihome{
	background-image: url(../img/darkBI.jpeg);
	margin-top: 60px;
	color: #FFFFFF;
	height: 465px;
	opacity: 2.0;
	background-repeat: no-repeat;
	background-attachment: fixed;
	background-size: cover;
}
@media only screen and (max-width: 500px) {
	.bihome {
		height: 720px;
	}
}
.bihome h1{
	padding-top: 35px;
}
.bihome iframe{
	margin-top: 45px;
}
@media only screen and (max-width: 500px) {
	.bihome iframe {
		height: 150px;
    	width: 330px;
	}
}
@media only screen and (max-width: 360px) {
	.bihome {
		height: 800px;
	}
}
.clienteshome{
	margin-top: 20px;
	padding-top: 200px;
	color: #000000;
}
.dashboard{
	padding-top: 40px;
}
.dashboard p{
	margin-top: 10px;
	margin-left: 85px;
}
.precoDashboard{
	margin-top: 35px;
	border: 2px solid #FFFFFF;
	padding: 20px;
}
@media only screen and (max-width: 500px) {
	.dashboard p {
		margin-top: 10px;
		margin-left: 35px;
	}
}
.img-clientes{
	width: 85%;
	height: auto;
}

.contato-footer{
	margin-top: 45px;
	color: #FFFFFF;
	background: #000000;
	
}
.contato-footer h2{
	padding-top: 25px;

}

.rodape{
	background: #000000;
	color: #FFFFFF;
	font-size: 10px;
}

.linha{
	color: #FFFFFF;
    background-color: #FFFFFF;
    height: 0.5px;
}

.tituloPagina{
	background-color: rgb(23, 60, 84);
	box-sizing: border-box;
	color: #FFFFFF;
	font-family: sans-serif;
	font-size: 15px;
	line-height: 25px;
	overflow: hidden;
	overflow-x: hidden;
	overflow-y: hidden;
	width: 1287px;
	height: 120px;
	top: 10px;
}
.tituloPagina ul{
	list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
}
@media only screen and (max-width: 500px) {
  .tituloPagina {
	height: auto;
    width: auto;
	}
}
.tituloPagina li{
	float: right;
	text-align: center;
    padding: 16px;
    padding-top: 46px;
}
.tituloPagina h1{
	padding-top: 35px;
}
.sobreSophos{
	margin-top: 70px;
}
.sobreSophos p{
	padding-bottom: 25px;
}

.dropdown:hover>.dropdown-menu{
	display: block;
}
.imgService{
	background-image: url(../img/paginasBack.jpg);
	width: auto;
	height: auto;
	background-repeat: no-repeat;
}
@media only screen and (max-width: 500px) {
  .imgService {
	height: auto;
    width: auto;
	}
}
.imgService img{
	height: 380px;
	width: 460px;
	margin-top: 30px;
}
@media only screen and (max-width: 500px) {
  .imgService img {
	height: 225px;
    width: 250px;
	}
}
.serviceSolucao{
	margin-top: 75px;
}
.imgService1{
	background-image: url(../img/service.jpg);
	width: 1287px;
	height: 450px;
	margin-top: 65px;
	background-repeat: no-repeat;
}
@media only screen and (max-width: 500px) {
  .imgService1 {
	height: auto;
    width: auto;
	}
}
.imgService1 iframe{
	margin-top: 35px;
	width: 560px;
	height: 315px;
}
@media only screen and (max-width: 500px) {
  .imgService1 iframe {
	margin-top: 60px;
	margin-left: 18px;
	height: 150px;
    width: 330px;
	}
}
.serviceSolucao1{
	margin-top: 65px;
}
.headerService{
	margin-bottom: 35px;
}
.headerService1{
	margin-top: 35px;
}
.serviceSolucao2{
	margin-top: 65px;
	margin-bottom: 45px;
}
.marketSolucao{
	margin-top: 65px;
}
.imgMarket{
	background-image: url(../img/supermercado.jpg);
	width: 1287px;
	height: 450px;
	margin-top: 65px;
}
@media only screen and (max-width: 500px) {
  .imgMarket {
	height: 350px;
    width: 430px;
	}
}
.imgMarket iframe{
	margin-top: 65px;
	width: 560px;
	height: 315px;
}
@media only screen and (max-width: 500px) {
  .imgMarket iframe {
	margin-top: 60px;
	height: 150px;
    width: 330px;
	}
}

.imgVarejo{
	background-image: url(../img/store.jpg);
	width: 1287px;
	height: 450px;
	margin-top: 65px;
}
@media only screen and (max-width: 500px) {
  .imgVarejo {
	height: 350px;
    width: 430px;
	}
}
.imgVarejo iframe{
	margin-top: 65px;
	width: 560px;
	height: 315px;
}
@media only screen and (max-width: 500px) {
  .imgVarejo iframe {
	margin-top: 80px;
	height: 150px;
    width: 330px;
	}
}
.imgGourmet{
	background-image: url(../img/gourmet.jpg);
	width: 1287px;
	height: 450px;
	margin-top: 65px;
	background-repeat: no-repeat;
}
@media only screen and (max-width: 500px) {
  .imgGourmet {
	height: 350px;
    width: 430px;
	}
}
.imgGourmet iframe{
	margin-top: 65px;
	width: 560px;
	height: 315px;
}
@media only screen and (max-width: 500px) {
  .imgGourmet iframe {
	margin-top: 85px;
	height: 150px;
    width: 330px;
	}
}
.imgUniplus{
	background-image: url(../img/uniplus.jpg);
	width: 1287px;
	height: 450px;
	margin-top: 65px;
}
@media only screen and (max-width: 500px) {
  .imgUniplus {
	height: 350px;
    width: 430px;
	}
}
.imgUniplus iframe{
	margin-top: 65px;
	width: 560px;
	height: 315px;
}
@media only screen and (max-width: 500px) {
  .imgUniplus iframe {
	margin-top: 85px;
	height: 150px;
    width: 330px;
	}
}
.contato{
	margin-top: 80px;
}
.contatoCard{
	margin-left: 150px;
	margin-top: 60px;
}
.mapa{
	margin-top: 25px;
	text-align: center;
}
.btnDisney{
	color: #FFF;
	background-color: #f0ad4e;
}
.clientesComentario{
	margin-top: 60px;
}
.clientesDizem{
	margin-top: 60px;
	margin-bottom: 60px;
}
.botaoDashboard{
	margin-top: 25px;
}
.dashboardTexto{
	margin-top: 40px;
}
.dashboardImagem{
	margin-top: 40px;
}
@media only screen and (max-width: 500px) {
  .sliderHome img {
	height: 200px;
    width: 430px;
	}
}
.card a {
	margin-top: 35px;
}
@media only screen and (max-width: 500px) {
  .card {
  	margin: auto;
  	margin-bottom: 15px;
	}
}

@media only screen and (max-width: 500px) {
  .rounded-circle {
  	margin-left: 35%;
 	margin-bottom: 20px;
	}
}

